* {
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #2C2B2B;
    display: flex;
    align-items: center;
    justify-content: center;
}


.all-period {
    display: flex;
    margin: 0 auto;
    gap: 30px;
    justify-content: center;
}

.period {
    transition: all .2s ease-in-out;
}

.period:hover {
    transform: scale(1.1);
}

.disciplina-container {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.disciplina-container:hover {
    transform: scale(1.1);
}

.period {
    background-color: rgb(255, 255, 255);
    width: 202px;
    height: 80px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: 0s;
    cursor: pointer;
}



#title-period {
    text-align: center;
    margin: 60px 0 120px 0;
    color: white;
    letter-spacing: 1px;
}




.disciplinas-box {
    width: 1200px;
    height: 300px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.title-disciplina {
    text-align: center;
    margin: 150px 0 80px 0;
}


.balls-container {
    height: 2vh;
    width: 100%;
    display: flex;
    border-radius: 10px 10px 0 0;
    justify-content: flex-end;
    background-color: #383838;
    gap: 5px;
    align-items: center;
    padding-right: 10px;
}

.name-disciplina {
    background-color: #585858;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13vh;
    width: 220px;
    border-radius: 0 0 10px 10px;
    color: white;
    box-sizing: border-box;
}

#green {
    background-color: greenyellow;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#yellow {
    background-color: rgb(238, 255, 0);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#red {
    background-color: rgb(255, 0, 0);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.title-disciplina {
    color: white;
}

#titulos {
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-align: center;
    font-size: 1.6em;
    margin: 0 5px;
}